In [1]:
# load in different data tools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import the data I will be using
med_hh_inc = pd.read_csv('med_hh_inc.csv', sep=',')

In [3]:
#melt the dataframe to have years as a variable
melted_med_hh_inc = pd.melt(med_hh_inc, id_vars=['Metropolitan area'], var_name='Year', value_name='Median_Household_Income')
#preview the dataset
melted_med_hh_inc.head()

,Metropolitan area,Year,Median_Household_Income
0,"Atlanta-Sandy Springs-Roswell, GA Metro Area..",2012,"55,271"
1,"Baltimore-Columbia-Towson, MD Metro Area .",2012,"67,756"
2,"Boston-Cambridge-Newton, MA-NH Metro Area..",2012,"72,571"
3,"Charlotte-Concord-Gastonia, NC-SC Metro Area ..",2012,"53,288"
4,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area..",2012,"60,005"

In [17]:
#split the Metropolitan area column on the first -
melted_med_hh_inc['Metropolitan area'] = melted_med_hh_inc['Metropolitan area'].str.split('-').str[0]
#some need split on the ,
melted_med_hh_inc['Metropolitan area'] = melted_med_hh_inc['Metropolitan area'].str.split(',').str[0]
#replace "Washington" with "WashingtonDC" in the Metropolitan area column
melted_med_hh_inc['Metropolitan area'] = melted_med_hh_inc['Metropolitan area'].replace('Washington', 'WashingtonDC')
#replace "Dallas" with "DFW" in the Metropolitan area column
melted_med_hh_inc['Metropolitan area'] = melted_med_hh_inc['Metropolitan area'].replace('Dallas', 'DFW')

In [18]:
print(melted_med_hh_inc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Metropolitan area        300 non-null    object
 1   Year                     300 non-null    object
 2   Median_Household_Income  275 non-null    object
dtypes: object(3)
memory usage: 7.2+ KB
None